{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock title %}
{% block content %}
{% include 'includes/admin_lateral.html' %}


<div class="articulos__container">
    <h1>Agregar articulo</h1>
    <form class="articulos__form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label class="uk-form-label" for="form-stacked-text">Usuario</label>
            <input type="text" name="user" value="{{user.get_full_name}}" class="form__no--edition" maxlength="30" required id="id_user" readonly>
        <label for="form-stacked-text">Titulo</label>
            {{ form.title }}
        <label for="form-stacked-text">Categoria</label>
            {{ form.mensaje }} 
        <label for="form-stacked-text">Imagen</label>
            {{ form.imagen }}
        <label for="form-stacked-text">Publica</label>
            {{ form.public }} 
        <label for="form-stacked-text">En inicio</label>    
            {{ form.portada }} 
        <button class="section_new__link section_new__link--opacity contact__btn" type="submit">Agregar</button>
    </form>
</div>


{% include 'includes/footer.html' %}
{% endblock content %}

