{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock title %}
{% block content %}
{% include 'includes/admin_lateral.html' %}

<div class="delete_container">
    <div class="delete_container__container">
        <form method="POST">{% csrf_token %}
            <h3>¿Esta seguro de eliminar el siguiente usuario?</h3>
            <h2>{{ usuariodelete.get_full_name }}</h2>
            <button class="delete__btn" type="submit">Eliminar</button>
        </form>
    </div>
</div>
    
{% include 'includes/footer.html' %}
{% endblock content %}