{% extends 'base.html' %}

{% load static %}

{% block css %} {% endblock css %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/sliderAnuncios.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'vue/axios.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vue/vue.js' %}"></script> 
    <script type="text/javascript" src="{% static 'vue/appsvue/procesos.js' %}"></script>
{% endblock js %}