{% extends 'store/base_home.html' %}
{% load static %}
{% load humanize %}
{% block title %}
 Exonica. Soluciones en Tecnología
{% endblock title %}

{% block description %} 
    <meta
        name="description" 
        content="
            {% for ab in aboutExo %}
                {{ ab.qsomos }}
            {% endfor %}
        "
    >
{% endblock description %}

{% block content %}
{% include 'includes/header.html' %}

{% if portada %}


    <div class="slider">
        <div class="slider__contenedor">
            {% for an in portada %}
            <section class="slider__contenido">
                <img src="{{ an.imagen.url }}" alt="{{an.title}}">
                <div>
                    <h1>{{an.title}}</h1>
                    <h2>{{an.mensaje}}</h2>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="Carousel">
    <h2>LO NUEVO</h2>
    <div class="slick-list" id="slick-list">
        <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
        </button>
        <div class="slick-track" id="track">
            {% for r in articulos_recientes %}
            <div class="slick">
                <picture>
                    <img src="{{ r.imagen.url }}" class="image__new">
                </picture>
                <div class="section_new__text">
                    <h1 class="section_new__card_text">{{r.title}}</h1>
                    <p class="section_new__price">${{r.precio|intcomma}}</p>
                </div>
                <a href="{% url 'store_app:articulo_pub' r.slug %}" class="section_new__link section_new__link--opacity">Comprar</a>
            </div>
            {% endfor %}
        </div>
        <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
        </button>
    </div>
</div>        

<section class="section">
    <h2>MAS PRODUCTOS</h2>
    <div class="section__container">
        {% for art in articulos_home %}
        <div class="section__card">
            <div class="section__text">
                <h1 class="section__card_text">{{art.title | truncatechars:21}}</h1>
                <p class="section__price">${{art.precio|intcomma}}</p>
            </div>
            <picture>
                <img src="{{ art.imagen.url }}" class="image">
            </picture>
            <a href="{% url 'store_app:articulo_pub' art.slug %}" class="section__link">Ver</a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="about" id="aboutus">
    <h2>SOBRE NOSOTROS</h2>
    <div class="about__container">
        <p>
            {% for ab in aboutExo %}
            {{ ab.qsomos }}
            {% endfor %}
        </p>
        
    </div>
    <section class="about__image">
    </section>
</section>


{% include 'includes/footer.html' %}
{% endblock content %}